/* css styles */
  
body {
    background-color: black !important;
    color: white;
  }
  
.navbar {
    background-color: hotpink !important;
  }

.nav-item a, .nav-item a:visited {
    color: black;
  }

.sidebar{
    background-color: black !important;
}

.sidebar-item a, .sidebar-item a:visited {
    color: #26f86c;
  }

.toc-active a, .toc-active a:visited {
    color: #6a5acd;
  }