/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: black !important;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    line-height: 1.5;
  }

.navbar {
    background-color: hotpink !important;
  }

.navbar-title {
    color: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
  }

  .quarto-navbar-tools {
    color: white;
    font-size: 16px;
  }

.nav-item a, .nav-item a:visited {
    color: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
  }

.sidebar {
    background-color: black !important;
  }

.margin-sidebar {
  background-color: black !important;
  }

.sidebar-item ul, .sidebar-item ul:visited {
    color: #26f86c;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    line-height: 1.5;
  }

.toc-title {
  color: #4630d5;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  line-height: 1.5;
}
.toc-active a, .toc-active a:visited {
    color: #4630d5;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    line-height: 1.5;
  }