/* css styles */
  
  body {
    background-color: black !important;
    color: white;
  }
  
  a, a:visited {
    color: #6a5acd;
  }
  
  .navbar {
    background-color: hotpink !important;
  }

  .navbar a, .navbar a:visited {
    color: black;
  }
  
.sidebar {
    background-color: black !important;
    color: hotpink;
  }

.navbar .dropdown-menu {
    background-color: #39FF14;
}

.navbar .dropdown-menu a {
    color: black;
}