/* css styles */
  
body {
    background-color: black !important;
    color: white;
  }
  
.navbar {
    background-color: hotpink !important;
  }

.nav-item a, .nav-item a:visited {
    color: black;
  }

.sidebar{
    background-color: black !important;
}

.sidebar-item a, .sidebar-item a:visited {
    color: #26f86c;
  }

.toc-active ul, .toc-active ul:visited {
    color: #4630d5;
  }

.custom-navbar {
  background-image: url("ds105a-project-data-dabblers/images/data_dabblers.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 80px;
}
