/* css styles */
  
body {
    background-color: black !important;
    color: white;
  }
  
.navbar {
    background-color: hotpink !important;
  }

.nav-item a, .nav-item a:visited {
    color: black;
  }

.sidebar{
    background-color: black !important;
}

.sidebar-item a, .sidebar-item a:visited {
    color: #26f86c;
  }

.toc-active ul, .toc-active ul:visited {
    color: #4630d5;
  }

#bottom-left-image {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#bottom-left-image img {
  width: 15%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}