/* css styles */
  
  body {
    background-color: black !important;
    color: white;
  }
  
  a, a:visited {
    color: #6a5acd;
  }
  
  .navbar {
    background-color: hotpink !important;
    color: black;
  }
  
.sidebar {
    background-color: black !important;
}

.sidebar a, a:visited {
    color: rgb(38, 248, 108);
  }