/* css styles */
  
body {
    background-color: black !important;
    color: white;
  }
  
.navbar {
    background-color: hotpink !important;
  }

.navbar a, a:visited {
    color: black;
  }

.sidebar {
    background-color: black !important;
}

.sidebar a, a:visited {
    color: #26f86c;
  }


#6a5acd